.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go subscribe -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Intellij
.idea

# GRPC Lock file
/agent.lock
server.lock

# build
pennsieve-agent
.nextflow*
work/
internal/aws/TRUST_POLICY_*.json
.vscode/launch.json
