name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "**" ]
  workflow_dispatch:

jobs:

  build:
    env:
      GOPROXY: "https://proxy.golang.org"
      PENNSIEVE_LOG_LEVEL: "Debug"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-13]
        goVer: [1.23.7]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.23.7

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
